
            <!DOCTYPE html>
            <html>
            <head>
                <meta charset="utf-8" />
                <meta name="viewport" content="width=device-width" />
                <link rel="preconnect" href="https://fonts.googleapis.com" />
                <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
                <link href="https://fonts.googleapis.com/css2?family=Lexend:wght@400&family=Lobster&display=swap" rel="stylesheet" />
                <title>Top 5 Recipe Choices</title>
                <link rel="stylesheet" href="/static/style.css" />
            </head>
            <body>
                <h1>1. Insalata Caprese I</h1>
                <img src=https://www.allrecipes.com/thmb/36OWRUlHSMBPZoJekNI3X0t_XwM=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/1425181-e1afe4a1534f42a38900986246040c4e.jpg alt="Image" />
                <h2>Prep Time: 15 minutes <br>Cook Time:  minutes <br>Yield: 4 servings <br></h2>
                <h2>Nutritional Facts:</h2>
                <h3>calories: 498 kcal <br>carbohydrateContent: 13 g <br>cholesterolContent: 78 mg <br>fiberContent: 2 g <br>proteinContent: 19 g <br>saturatedFatContent: 17 g <br>sodiumContent: 154 mg <br>sugarContent: 10 g <br>fatContent: 40 g <br>unsaturatedFatContent: 0 g <br></h3>
                <h2>Ingredients:</h2>
                <h3> - 4 ripe tomatoes, cut into wedges <br> - 14 ounces fresh mozzarella cheese, diced <br> - 1 red onion, sliced <br> - 0.33333334326744 cup extra virgin olive oil <br> - 0.33333334326744 cup balsamic vinegar <br> - 0.25 cup chopped fresh basil <br> - salt and pepper to taste <br></h3>
                <h2>Instructions:</h2>
                <h3>1. In a large bowl, combine the tomatoes, cheese, onion, oil, vinegar, basil, and salt and pepper to taste. Toss and chill for 1 hour. Serve on large platter. <br></h2>
                <hr class="solid">
                <h1>2. Tomato and Mozzarella Bites</h1>
                <img src=https://www.allrecipes.com/thmb/5za-lTr214jrGPG4oLVTQUUElV4=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/6810799-95916349d2174a95b8a0601bc5504b3c.jpg alt="Image" />
                <h2>Prep Time: 30 minutes <br>Cook Time:  minutes <br>Yield: 10 servings <br></h2>
                <h2>Nutritional Facts:</h2>
                <h3>calories: 58 kcal <br>carbohydrateContent: 2 g <br>proteinContent: 0 g <br>saturatedFatContent: 1 g <br>sodiumContent: 3 mg <br>fatContent: 6 g <br>unsaturatedFatContent: 0 g <br></h3>
                <h2>Ingredients:</h2>
                <h3> - 20 toothpicks <br> - 20 grape or cherry tomatoes, halved <br> - 20 fresh basil leaves <br> - 20 small balls fresh mozzarella cheese (often labeled bocconcini) <br> - salt and pepper to taste <br> - 0.5 cup balsamic vinegar <br> - 0.25 cup extra virgin olive oil <br></h3>
                <h2>Instructions:</h2>
                <h3>1. Thread a tomato half, a basil leaf, a mozzarella ball, and another tomato half onto a toothpick. Repeat with remaining ingredients. <br>2. Arrange toothpicks on a serving platter and season with salt and pepper. <br>3. Mix vinegar and oil together in a small bowl to serve as a dipping sauce. <br></h2>
                <hr class="solid">
                <h1>3. </h1>
                <img src= alt="Image" />
                <h2></h2>
                <h2>Nutritional Facts:</h2>
                <h3></h3>
                <h2>Ingredients:</h2>
                <h3></h3>
                <h2>Instructions:</h2>
                <h3></h2>
                <hr class="solid">
                <h1>4. </h1>
                <img src= alt="Image" />
                <h2></h2>
                <h2>Nutritional Facts:</h2>
                <h3></h3>
                <h2>Ingredients:</h2>
                <h3></h3>
                <h2>Instructions:</h2>
                <h3></h2>
                <hr class="solid">
                <h1>5. </h1>
                <img src= alt="Image" />
                <h2></h2>
                <h2>Nutritional Facts:</h2> 
                <h3></h3>
                <h2>Ingredients:</h2>
                <h3></h3>
                <h2>Instructions:</h2>
                <h3></h2>
            </body>
            </html>
        